/*Enrobage zone centrale*/

#Enrobage {
    border-style: solid
    border: thin;
    border-color: grey;
    background-color: rgba(255, 255, 255, 0.8);
}

/*Calendrier zone droit*/

#Calendrier_Description {
    padding: 10px;
    margin: 50% 30px 30px 30px;
    background-color: #EC87C0;
    color: white;
    text-align: center;
}

#Calendrier {
    margin: 30px 30px 30px 30px;
    background-color: #4FC1E9;
        height: 300px;
}
/*Social zone gauche*/

#Social_Description {
    padding: 10px;
    margin: 50% 30px 30px 30px;
    background-color: #EC87C0;
    color: white;
    text-align: center;
}

#Social {
    margin: 30px 30px 30px 30px;
    background-color: #4FC1E9;
    height: 300px;
    text-decoration: none;
}

#Social li {
    margin-left: auto;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-decoration: none;
}

#Social li a {
    color: white;
    font-size: 20px;
    background-color: #4FC1E9;
    text-decoration: none;
}

#Social li a:hover {
    color: white;
    background-color: #3BAFDA;
    text-decoration: none;
}
