header {

    padding: 15px;
    text-align: left;
    background-color: #EC87C0;
    color: #FFF
}

body {
    margin: 0px;
    background-image: url("images/fond.jpg")!important;
    background-size: 100% 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: #EC87C0;
    width: 100%;
    color: #FFF;
}

#HeaderLeft {
    margin-left: auto;
    display: inline;
    font-size: 20px;
}

#HeaderLeft li {
    display: inline;
    font-size: 100%
}

#HeaderLeft li a {
    margin: 0 auto;
    padding: 15px;
    padding-left: 0 auto;
    color: white;
    background-color: #EC87C0;
    text-decoration: none;
}

#HeaderLeft li a:hover {
    color: white;
    background-color: #D770AD;
}

#HeaderRight{

}