/*Commun aux 2 blocs du titre*/
#LogoPetits, #LogoPieds { 
    display: inline;
    /*font-family: 'KGMK', Georgia, serif;*/
    font-family: 'Miniver', Georgia, serif;
    font-size: 36px;
    border-radius: 30px;
    width: 120px;
    text-align: center;
}

/*Bloc titre Petits*/
#LogoPetits { 
    float: left;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    color: black;
    background-color: #EC87C0;
    text-decoration: none;
}

#LogoPetits:hover {
    color: white;
    background-color: #D770AD;
    text-decoration: none;    
}

/*blocs titre Pieds*/
#LogoPieds {
    float: left;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    color: black;
    background-color: #4FC1E9;
    text-decoration: none;
}

#LogoPieds:hover {
    color: white;
    background-color: #3BAFDA;
    text-decoration: none;    
}
